---
title: i9-verifisering for ansettelsebekreftelse
description: Immigration Reform and Control Act krever at arbeidsgivere i USA verifiserer statusen for gyldig ansettelse til nylig ansatte.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ea77f112413a5b7d5c96768ad46fdb361023bd84
ms.sourcegitcommit: 27475081f3d2d96cf655b6afdc97be9fb719c04d
ms.translationtype: HT
ms.contentlocale: nb-NO
ms.lasthandoff: 01/12/2022
ms.locfileid: "7964889"
---
# <a name="employment-verification-i9-verification"></a>i9-verifisering for ansettelsebekreftelse

[!include [banner](../../../includes/banner.md)]

Immigration Reform and Control Act krever at arbeidsgivere i USA verifiserer statusen for gyldig ansettelse til nylig ansatte. Denne fremgangsmåten leder deg gjennom trinnene for å registrere de nødvendige dokumenter for kontroll av I-9. Bruke firmaet USMF for denne fremgangsmåten.

1. Gå til **Personale \> Arbeidere \> Ansatte**.
2. Bruk hurtigfilteret for å søke etter poster. Du kan for eksempel filtrere på verdien **Vince** for **Navn**-feltet.
3. Merk den ansatte. Velg for eksempel **Vince Prado**.
4. Velg hurtigfanen **Personlig informasjon**.
5. Velg **Identifikasjonsnumre**.
6. Velg **Ny**.
7. Velg identifikasjonstypen som du registrerer. Velg for eksempel **Pass**.
8. Angi en verdi i **Nummer**-feltet.
9. Velg **Ja** i feltet **Primær**.
10. Angi en kort beskrivelse av identifikasjonsposten i feltet **Beskrivelse**.
11. I feltet **Utstedende byrå** velger du byrået som utstedte typen identifikasjon for arbeideren. Du kan for eksempel velge **Offentlig**.
12. Angi datoen da det utstedende byrået utstedte typen identifikasjon for arbeideren. Angi for eksempel **02/15/2011** (15. februar 2011).
13. Angi datoen når typen identifikasjon utløper. Angi for eksempel **2/15/2021** (15. februar 2021).
14. Velg **Lagre**.
15. Lukk siden.
16. Velg fanen **Ansettelse**.
17. Velg **I-9**.
18. Velg **Ny**.
19. Velg et alternativ i feltet **Arbeidstillatelse**.

    Hvis ansatt ikke er en statsborger eller hjemmehørende i USA, må du angi arbeiderens innvandrer- eller tillatelsesnummer.

20. Velg alternativet **GruppelisteA**.

    Listen som du velger, avhenger av hvilken form for identifikasjon som arbeideren har angitt. En arbeider må enten angi ett dokument fra liste A eller ett dokument fra både liste B og liste C. Hvis arbeideren for eksempel har oppgitt et pass, kan du velge liste A. Hvis arbeideren imidlertid bare har oppgitt førerkort og personnummer, må du velge liste B og liste C.

21. I feltet **I-9-dokumenttype**-feltet velger du hvilken dokumenttype arbeideren angav.
22. Angi eller velg en verdi i feltet **Dokumentnummer**.
23. Velg **Lagre**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
