---
title: i9-verifisering for ansettelsebekreftelse
description: Immigration Reform and Control Act krever at arbeidsgivere i USA verifiserer statusen for gyldig ansettelse til nylig ansatte.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ab03e28b3e42d02395da01024bc3bcf4dbcd5abf
ms.sourcegitcommit: b112925c389a460a98c3401cc2c67df7091b066f
ms.translationtype: HT
ms.contentlocale: nb-NO
ms.lasthandoff: 12/19/2020
ms.locfileid: "4798100"
---
# <a name="employment-verification-i9-verification"></a>i9-verifisering for ansettelsebekreftelse

[!include [banner](../../../includes/banner.md)]

Immigration Reform and Control Act krever at arbeidsgivere i USA verifiserer statusen for gyldig ansettelse til nylig ansatte. Denne fremgangsmåten leder deg gjennom trinnene for å registrere de nødvendige dokumenter for kontroll av I-9. Bruke firmaet USMF for denne fremgangsmåten.

1. Gå til Personale > Arbeidere > Ansatte.
2. Bruk hurtigfilteret for å søke etter poster. Du kan for eksempel filtrere på Navn-feltet med verdien Vince.
3. Merk den ansatte. Eksempel: Vince Prado
4. Utvid hurtigfanen Personlig informasjon.
5. Klikk på Identifikasjonsnumre.
6. Klikk på Ny.
7. Velg identifikasjonstypen som du registrerer. Eksempel: Pass
8. Skriv inn en verdi i Nummer-feltet.
9. Velg Ja i feltet Primær.
10. Angi en kort beskrivelse av identifikasjonsposten i feltet Beskrivelse.
11. Velg organisasjonen som utstedte typen identifikasjon for arbeideren i det utstedende byrået. Eksempel: offentlig
12. Angi datoen da det utstedende byrået utstedte typen identifikasjon for arbeideren. Eksempel: 15.02.2011
13. Angi datoen når typen identifikasjon utløper. Eksempel: 15.02.2021
14. Klikk på Lagre.
15. Lukk siden.
16. Klikk på fanen Ansettelse.
17. Klikk på I-9.
18. Klikk på Ny.
19. Velg et alternativ i feltet Arbeidstillatelse.
    * Hvis ansatt ikke er en statsborger eller hjemmehørende i USA, må du angi arbeiderens innvandrer- eller tillatelsesnummer.  
20. Velg alternativet GruppelisteA.
    * Listen som du velger, avhenger av hvilken form for identifikasjon arbeideren har angitt. En arbeider må angi ett liste A-dokument eller et dokument fra liste B og C. Hvis arbeideren for eksempel har angitt et pass, kan liste A velges. Men hvis arbeider bare har angitt førerkort og Social Security Card, må liste B og C velges.  
21. I I-9-dokumenttype-feltet velger du hvilken dokumenttype arbeideren angav.
22. Angi eller velg en verdi i feltet Dokumentnummer.
23. Klikk på Lagre.

