---
title: i9-verifisering for ansettelsebekreftelse
description: Immigration Reform and Control Act krever at arbeidsgivere i USA verifiserer statusen for gyldig ansettelse til nylig ansatte.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: anbichse
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: f9c1c3db0f82bb3e30f0ff87592b5ceac20d3b16
ms.sourcegitcommit: 2b890cd7a801055ab0ca24398efc8e4e777d4d8c
ms.translationtype: HT
ms.contentlocale: nb-NO
ms.lasthandoff: 05/07/2019
ms.locfileid: "1507294"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="1e01d-103">i9-verifisering for ansettelsebekreftelse</span><span class="sxs-lookup"><span data-stu-id="1e01d-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="1e01d-104">Immigration Reform and Control Act krever at arbeidsgivere i USA verifiserer statusen for gyldig ansettelse til nylig ansatte.</span><span class="sxs-lookup"><span data-stu-id="1e01d-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="1e01d-105">Denne fremgangsmåten leder deg gjennom trinnene for å registrere de nødvendige dokumenter for kontroll av I-9.</span><span class="sxs-lookup"><span data-stu-id="1e01d-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="1e01d-106">Bruke firmaet USMF for denne fremgangsmåten.</span><span class="sxs-lookup"><span data-stu-id="1e01d-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="1e01d-107">Gå til Personale > Arbeidere > Ansatte.</span><span class="sxs-lookup"><span data-stu-id="1e01d-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="1e01d-108">Bruk hurtigfilteret for å søke etter poster.</span><span class="sxs-lookup"><span data-stu-id="1e01d-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="1e01d-109">Du kan for eksempel filtrere på Navn-feltet med verdien Vince.</span><span class="sxs-lookup"><span data-stu-id="1e01d-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="1e01d-110">Merk den ansatte.</span><span class="sxs-lookup"><span data-stu-id="1e01d-110">Select the employee.</span></span> <span data-ttu-id="1e01d-111">Eksempel: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="1e01d-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="1e01d-112">Utvid hurtigkategorien Personlig informasjon.</span><span class="sxs-lookup"><span data-stu-id="1e01d-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="1e01d-113">Klikk Identifikasjonsnumre.</span><span class="sxs-lookup"><span data-stu-id="1e01d-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="1e01d-114">Klikk Ny.</span><span class="sxs-lookup"><span data-stu-id="1e01d-114">Click New.</span></span>
7. <span data-ttu-id="1e01d-115">Velg identifikasjonstypen som du registrerer.</span><span class="sxs-lookup"><span data-stu-id="1e01d-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="1e01d-116">Eksempel: Pass</span><span class="sxs-lookup"><span data-stu-id="1e01d-116">Example: Passport</span></span>
8. <span data-ttu-id="1e01d-117">Skriv inn en verdi i Nummer-feltet.</span><span class="sxs-lookup"><span data-stu-id="1e01d-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="1e01d-118">Velg Ja i feltet Primær.</span><span class="sxs-lookup"><span data-stu-id="1e01d-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="1e01d-119">Angi en kort beskrivelse av identifikasjonsposten i feltet Beskrivelse.</span><span class="sxs-lookup"><span data-stu-id="1e01d-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="1e01d-120">Velg organisasjonen som utstedte typen identifikasjon for arbeideren i det utstedende byrået.</span><span class="sxs-lookup"><span data-stu-id="1e01d-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="1e01d-121">Eksempel: offentlig</span><span class="sxs-lookup"><span data-stu-id="1e01d-121">Example: Government</span></span>
12. <span data-ttu-id="1e01d-122">Angi datoen da det utstedende byrået utstedte typen identifikasjon for arbeideren.</span><span class="sxs-lookup"><span data-stu-id="1e01d-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="1e01d-123">Eksempel: 15.02.2011</span><span class="sxs-lookup"><span data-stu-id="1e01d-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="1e01d-124">Angi datoen når typen identifikasjon utløper.</span><span class="sxs-lookup"><span data-stu-id="1e01d-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="1e01d-125">Eksempel: 15.02.2021</span><span class="sxs-lookup"><span data-stu-id="1e01d-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="1e01d-126">Klikk Lagre.</span><span class="sxs-lookup"><span data-stu-id="1e01d-126">Click Save.</span></span>
15. <span data-ttu-id="1e01d-127">Lukk siden.</span><span class="sxs-lookup"><span data-stu-id="1e01d-127">Close the page.</span></span>
16. <span data-ttu-id="1e01d-128">Klikk kategorien Ansettelse.</span><span class="sxs-lookup"><span data-stu-id="1e01d-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="1e01d-129">Klikk I-9.</span><span class="sxs-lookup"><span data-stu-id="1e01d-129">Click I-9.</span></span>
18. <span data-ttu-id="1e01d-130">Klikk Ny.</span><span class="sxs-lookup"><span data-stu-id="1e01d-130">Click New.</span></span>
19. <span data-ttu-id="1e01d-131">Velg et alternativ i feltet Arbeidstillatelse.</span><span class="sxs-lookup"><span data-stu-id="1e01d-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="1e01d-132">Hvis ansatt ikke er en statsborger eller hjemmehørende i USA, må du angi arbeiderens innvandrer- eller tillatelsesnummer.</span><span class="sxs-lookup"><span data-stu-id="1e01d-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="1e01d-133">Velg alternativet GruppelisteA.</span><span class="sxs-lookup"><span data-stu-id="1e01d-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="1e01d-134">Listen som du velger, avhenger av hvilken form for identifikasjon arbeideren har angitt.</span><span class="sxs-lookup"><span data-stu-id="1e01d-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="1e01d-135">En arbeider må angi ett liste A-dokument eller et dokument fra liste B og C. Hvis arbeideren for eksempel har angitt et pass, kan liste A velges.</span><span class="sxs-lookup"><span data-stu-id="1e01d-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="1e01d-136">Men hvis arbeider bare har angitt førerkort og Social Security Card, må liste B og C velges.</span><span class="sxs-lookup"><span data-stu-id="1e01d-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="1e01d-137">I I-9-dokumenttype-feltet velger du hvilken dokumenttype arbeideren angav.</span><span class="sxs-lookup"><span data-stu-id="1e01d-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="1e01d-138">Angi eller velg en verdi i feltet Dokumentnummer.</span><span class="sxs-lookup"><span data-stu-id="1e01d-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="1e01d-139">Klikk Lagre.</span><span class="sxs-lookup"><span data-stu-id="1e01d-139">Click Save.</span></span>

